
body{
    direction:rtl;
    
}

#wrapper{
    width:960px;
    background-color:lightgray;
    margin:auto;
    overflow:auto;
}

#header{
    height:200px;
    background-color:greenyellow;
    margin:5px;
}

#nav{
    height:auto;
    background-color:papayawhip;
    margin:5px;
}

#sidebar{
    width:220px;
    background-color:maroon;
    height:600px;
    margin:5px;
    float:right;
    margin-top:0;
}

#content{
    width:725px;
    margin-top:0;
    margin-right:0;
    background-color:orange;
    height:600px;
    float:right;
}

.clear{
    clear:both;
}

#footer{
    height:100px;
    background-color:black;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
}

#logo{
    width:190px;
    height:190px;
    background-color:gray;
    margin:5px;
    float:left;
}
ul{
    list-style-type:none;
    font-family:'B Nazanin';
    font-size:25px; 
  margin:0;
   
}

a{
text-decoration:none;
float:right;
padding:15px 15px;
}
.clear{
    clear:both;
}
 a:hover{
     color:red;
    
     }
 #pic1{
        
     width:200px;
     height:150px;
 }
 #abs{
     width:200px;
     height:150px;
     float:left;
     margin:10px;
 }

